.btn_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 60%;
  gap: 2px;
  padding: 0;
  margin: 0;
}

.display {
  grid-column: 1/5;
  text-align: right;
  font-size: 50px;
  background: #858694;
  cursor: pointer;
}

.ac {
  grid-column: 1/2;
  background-color: #e0e0e0;
}

.one {
  grid-column: 2/3;
  background-color: #e0e0e0;
}

.two {
  grid-column: 3/4;
  background-color: #e0e0e0;
}

.tree {
  grid-column: 4/5;
  background-color: #f5913e;
}

.four {
  grid-column: 1/2;
  background-color: #e0e0e0;
}

.five {
  grid-column: 2/3;
  background-color: #e0e0e0;
}

.six {
  grid-column: 3/4;
  background-color: #e0e0e0;
}

.seven {
  grid-column: 4/5;
  background-color: #f5913e;
}

.eigth {
  grid-column: 1/2;
  background-color: #e0e0e0;
}

.nine {
  grid-column: 2/3;
  background-color: #e0e0e0;
}

.ten {
  grid-column: 3/4;
  background-color: #e0e0e0;
}

.eleven {
  grid-column: 4/5;
  background-color: #f5913e;
}

.twelve {
  grid-column: 1/2;
  background-color: #e0e0e0;
}

.thirteen {
  grid-column: 2/3;
  background-color: #e0e0e0;
}

.fourteen {
  grid-column: 3/4;
  background-color: #e0e0e0;
}

.fifteen {
  grid-column: 4/5;
  background-color: #f5913e;
}

.seventeen {
  grid-column: 1/3;
  background-color: #e0e0e0;
}

.eighteen {
  grid-column: 3/4;
  background-color: #e0e0e0;
}

.nineteen {
  grid-column: 4/5;
  background-color: #e0e0e0;
}

.btn {
  text-align: center;
  padding: 40px;
  cursor: pointer;
}
