
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(85, 85, 85);
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
